/* .container-fluid {
} */

.add_btn {
  max-width: 576px;
}

.card-container {
  height: 200px;
}

img {
  height: 300px;
}

footer {
  background-color: #428c69;
  color: white;
}

footer a {
  color: white;
}

footer a:hover {
  color: white;
  font-size: 2.2rem;
  transition: 0.4s;
}
/*.card {
  width: 18rem;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid red;
}

main {
  border: 1px solid black;
}

.add-btn {
  width: 100%;
  max-width: 576px;
} */
